## List of files that should be ignored from git

# File locations
src_v2/
src_old/
draft/
data/private/
out/old/
src/processing/*.RData

# File extensions
*.html
*.knit.md
*.spin.R
*.spin.Rmd
*.utf8.md
*.Rproj.user
*.Rproj
*.Rhistory
*.pyc
*.ini

# LaTeX files
*.tex
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz